* {
    margin:0;
    padding:0;
    font-family: Arial;
    border: border-box;  /*padding, border size etc ye sab element k height or width(border) k andr hoga*/
}

.navbar {
    height: 50px;
    background-color: black;
    color: white;
    display:flex; /* sare div's ek line me aa jaynge */
    align-items: center; /* used to center elements vertically  */
    justify-content: space-evenly; /*elements k bich me equal space lane k liye */
    }

/* box-1, amazon logo */

.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image: url("/assests/amazonlogo.png");
    background-size: cover;
    height:44px;
    width:100%;
    margin-right: 80px;
}

/* for white border on hover */

.white-border {
    border: 1.5px solid transparent;
}

.white-border:hover {
    border: 1.5px solid white;
}

/* box2, location */

.add-first {
color: #cccccc;
font-size: 0.8rem;
}

.add-sec {
font-size: 0.9rem;
color: white;
}

.add-item {
    display: flex;
    align-items: center;
}
.add-item i {
    font-size: 13px;
}

/* box3, search button */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 620px;
    height: 30px;
    border-radius: 4px; 
}

.search-select {
    background: color #c8c5c5;
    width: 50px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}

.search-input {
    width: 100%;
    font-size: 0.8rem;
    border:none;
}

.search-icon{
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color:rgb(255, 165, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.nav-serach:hover {
    border: 2px solid rgb(255, 165, 0);
}

/* design for box 4 & 5 */
.span {
    font-size: 0.7rem;
}

.fontsiz {
    font-size: 0.70rem;
    font-weight: 700
}

/* design for box 6 */

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 7;
}

/* design for pannel */

.pannel {
    height:40px;
    background-color: rgb(11, 55, 11);
    display:flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-option p{
    display: inline;
    margin-left: 15px;
}

.pannel-option {
    width: 70%;
    font-size: 0.85rem;
}

.pannel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* design for main body */

.hero-section {
  background-image: url("/assests/chrimst1.jpg");
  background-size: cover;
  height: 330px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.hero-msg {
    background-color: white;
    color: black;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    width: 97%;
    margin-top: 260px;
}

.hero-msg a {
    color: #007185;
}

/* design for shopping option */

.shop-option {
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
    background-color: whitesmoke;
}
.box {
    border: 2px solid black;
    height:300px;
    width: 23%;
    background-color:white;
}

/* .box-1-pic {
    height: 300px;

} */
/* just for github push */