* {
    margin:0;
    padding:0;
    font-family: Arial;
    border: border-box;  /*padding, border size etc ye sab element k height or width(border) k andr hoga*/
}

.navbar {
    height: 50px;
    background-color: #0f1111;
    color: white;
    display:flex; /* sare div's ek line me aa jaynge */
    align-items: center; /* used to center elements vertically  */
    justify-content: space-evenly; /*elements k bich me equal space lane k liye */
    }

/* .nav-logo {
   height:30px;
   width: 100px;
}

.logo {
    background-image: url("amazonlogo.png");
    background-size: cover;
    object-fit: contain;
    height:30px;
    width: auto;
} */

.white-border {
    border: 1.5px solid transparent;
}

.white-border:hover {
    border: 1.5px solid white;
}

/* box2 */

.add-first {
color: #cccccc;
font-size: 0.8rem;
}

.add-sec {
font-size: 0.9rem;
color: white;
}

.add-item {
    display: flex;
    align-items: center;
}
.add-item i {
    font-size: 13px;
}

/* box3 design */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 620px;
    height: 30px;
    border-radius: 4px; 
}

.search-select {
    background: color #c8c5c5;
    width: 50px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}

.search-input {
    width: 100%;
    font-size: 0.8rem;
    border:none;
}

.search-icon{
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color:rgb(255, 165, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.nav-serach:hover {
    border: 2px solid rgb(255, 165, 0);
}

/* design for box 4 & 5 */
.span {
    font-size: 0.7rem;
}

.fontsiz {
    font-size: 0.70rem;
    font-weight: 700
}

/* design for box 6 */

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 7;
}
