* {
    margin:0;
    padding:0;
    font-family: Arial;
    border: border-box;  /*padding, border size etc ye sab element k height or width(border) k andr hoga*/
}

.navbar {
    height: 50px;
    background-color: black;
    color: white;
    display:flex; /* sare div's ek line me aa jaynge */
    align-items: center; /* used to center elements vertically  */
    justify-content: space-evenly; /*elements k bich me equal space lane k liye */
    }

/* box-1, amazon logo */

.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image: url("/assests/amazonlogo.png");
    background-size: cover;
    height:44px;
    width:100%;
    margin-right: 80px;
}

/* for white border on hover */

.white-border {
    border: 1.5px solid transparent;
}

.white-border:hover {
    border: 1.5px solid white;
}

/* box2, location */

.add-first {
color: #cccccc;
font-size: 0.8rem;
}

.add-sec {
font-size: 0.9rem;
color: white;
}

.add-item {
    display: flex;
    align-items: center;
}
.add-item i {
    font-size: 13px;
}

/* box3, search button */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 620px;
    height: 30px;
    border-radius: 4px; 
}

.search-select {
    background: color #c8c5c5;
    width: 50px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}

.search-input {
    width: 100%;
    font-size: 0.8rem;
    border:none;
}

.search-icon{
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color:rgb(255, 165, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.nav-serach:hover {
    border: 2px solid rgb(255, 165, 0);
}

/* design for box 4 & 5 */
.span {
    font-size: 0.7rem;
}

.fontsiz {
    font-size: 0.70rem;
    font-weight: 700
}

/* design for box 6 */

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 7;
}

/* design for pannel */

.pannel {
    height:40px;
    background-color: rgb(11, 55, 11);
    display:flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-option p{
    display: inline;
    margin-left: 15px;
}

.pannel-option {
    width: 70%;
    font-size: 0.85rem;
}

.pannel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* design for main body */

.slideshow-images{
   
  width: 100%;
  height: 490px; 
  overflow: hidden;
  border: 5px solid #333;
  margin: auto;
}

.slideshow-strips {
  display: flex;
  width: 500%; 
  animation: slide-animation 15s infinite;
}

.slideshow-strips img {
  width: 100%;
  height: 490px;
  object-fit: cover;
}   

@keyframes slide-animation {
  0%   { transform: translateX(0); }         /* Image 1 */
  15%  { transform: translateX(0); }        
  
  20%  { transform: translateX(-20%); }      /* Image 2 */
  35%  { transform: translateX(-20%); }   
  
  40%  { transform: translateX(-40%); }      /* Image 3 */
  55%  { transform: translateX(-40%); }   
  
  60%  { transform: translateX(-60%); }      /* Image 4 */
  75%  { transform: translateX(-60%); }   
  
  80%  { transform: translateX(-80%); }      /* Image 5 */
  95%  { transform: translateX(-80%); }  
  
  100% { transform: translateX(0); }         /* Back to Image 1 */
}       

.slide-msg {
    margin-top: 50px;
    position: absolute;   /* This is the magic line */
    top: 450px;         /* Pins it 20px from the bottom of the images */
    left: 50%;       
    transform: translateX(-50%); 
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
    width: 96%;        
    z-index: 10;        /* Ensures it stays on top of the images */
}

.slide-msg a {
    color: #007185;
}  

.slide-msg a:hover {
  text-decoration: underline;
}

/* design for shopping option */

.shop-option {
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
    background-color: whitesmoke;
}

.box {    
    height:270px;
    width: 23%;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}

 .box-1-pic {
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} 

.box-content {
margin-left: 10px;
margin-right:10px;

}

.box-content p {
    color: #007185;
}

/* design for footer */
.foot-panel-1 {
    background-color: rgb(23, 43, 23);
    color: white;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel-2 {
    background-color:#132613;
    color: #dddddd;
    height: 350px;
    display:flex;
    justify-content: space-evenly;
}

.panel-2-heading {
    font-size: 19px;
    font-weight: 50;
}

ul {
    margin-top: 10px;
}

.ul li {
    display: block;
}


.foot-panel-3 {
    background-color: rgb(131, 213, 131);
    color: white;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}


