/* 
  contentbox {
    height: 100px;
    width: 100px;
  }

* {
    margin: 0;
    padding: 0;
  }

  #navbar {
    background-color: black;
    height: 50px;
    padding-top: 15px;
  }

  a {
    text-decoration: none;
    color: white;
    margin-right: 100px;
  }

#logo {
    margin-left: 10px;
    color: #f08804;
    font-size: 35px;
}

.button {
    background-color: #f08804
    ;
    color: white;
}
 
#whomade {
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color:rgb(178, 123, 178);
    color: white;
} 

.contentbox {
    height:100px;
    width:100px;
    border: 5px solid black;
    display: inline-block;
}
#box1 {
  height: 100px;
  width: 100px;
  border: 5px solid black;
  display: inline-block;
} 

body {
    background-image: url("car.jpg");
    background-size:cover;
    background-repeat: no-repeat;
} 


#contents {
  height: 820px;
} 

#practice5 {
  height:100px;
  width:100px;
  background-image: url("car.jpg");
  background-size: cover;
  color: white;
  position: fixed;
  right:0px;
  top: 70px;
}

.navibar {
  background-color: pink;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
} */

/* #practice6 {
  height: 200px;
  width: 200px;
  background-color: chocolate;
}

@media (max-width: 300px) {
  div{
    background-color: green;
  }
}

@media (min-width: 300px) and (max-width: 400px){
  div{
    background-color:pink;
  }
}

@media (min-width: 400px) and (max-width: 600px){
  div{
    background-color:red;
  }
}

@media (min-width: 600px){
  div{
    background-color: blue;
  }
} */

div {
  height: 100px;
  width: 100px;
  background-color: blue;
  border: 2px solid black;
  transition-property:all;
  transition-duration: 6s;
  /* transition-timing-function: steps(3); 
  transition-delay: 2s; */
}

div:hover {
  background-color: red;
  font-size: 5px;
}
div:active {
  background-color: pink;
}



