 /* h2 {
   text-decoration: blue wavy overline;
}

p{
    color: rgb(103, 98, 98);
}
button{
    color: purple;
    background-color: lightcoral;

}

body{
    background-color:rgb(234, 180, 189);
}

*{
    color: red;
}

#box {
background-color: blueviolet;
color: white;
}

.heading {
    color: red;
}

h1, h2, h3 {
    color: green
}

button {
    background-color: yellow;
}

p {
    text-align : center;
}

h6 {
    text-decoration: underline;
     text-decoration:  line-through; 
    text-decoration: underline;
}

#billo  {
    font-weight: bold;
}

#millo {
    font-weight: bolder;
}

#pillo {
    font-weight: 900;
}

#paragragh 2 {
    font-family: 'segoe ui';
} */
/* 
* {
    text-weight: 900;
    font-family: sans-serif ;
}

h1 {
    text-align: center;
    text-transform: capitalize;

} */

/* #outer {
    font-size:25px;
}

#inner {
    font-size:10px;
} */
 button {
    height: 60px;
    width: 200px;
    background-color: pink;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(112, 56, 70);
 } 