  * {
    padding: 0;
    margin:0;
    background-color: white;
  }
  
  h2 {
   text-decoration: blue wavy overline;
}

p{
    color: rgb(103, 98, 98);
}
#3{
    color: purple;
    background-color: lightcoral;

}

body{
    background-color:rgb(234, 180, 189);
}

*{
    color: red;
}

#box {
background-color: blueviolet;
color: white;
}

.heading {
    color: red;
}

h1, h2, h3 {
    color: green
}

#4 {
    background-color: yellow;
}

p {
    text-align : center;
}

h6 {
    text-decoration: underline;
     text-decoration:  line-through; 
    text-decoration: underline;
}

#billo  {
    font-weight: bold;
}

#millo {
    font-weight: bolder;
}

#pillo {
    font-weight: 900;
}

#paragragh 2 {
    font-family: 'segoe ui';
} 


* {
    text-weight: 900;
    font-family: sans-serif ;
}

h1 {
    text-align: center;
    text-transform: capitalize;

} 

 #outer {
    font-size:25px;
}

#inner {
    font-size:10px;
} 

#5 {
    text-align: center;
    height: 60px;
    width: 200px;
    background-color: pink;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(112, 56, 70);
    border-radius: 50px;
 
 } 
 #2 {
    border: 2px solid brown;
 }

 #ulala, #mulala {
    
    height: 100px;
    width: 100px;
    background-color: rgb(62, 128, 124);
    border: 5px dotted rgb(102, 45, 45);
    border-radius: 50%;
    padding-left: 20px;
    margin-top: 50px;
   

 } 

 #1 {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
 }
 #navbar {
    height: 60px;
    background-color: rgb(142, 99, 142);
 }
  
 #6 {
    background-color: yellow;
 }

 #logo {
    color: yellow;
    font-size: 30px;
 }


 



